# https://editorconfig.org/
# 由 @isyscore/cli@1.30.0 于 2021-11-01 17:50:56 自动生成
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
